<%= form_with(model: assignment, local: true) do |form| %>
    <div class="row">
        <div class="col-md-6">
            <% if assignment.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

                    <ul>
                        <% assignment.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="form-group">
                <%= form.label :title %>
                <%= form.text_field :title, id: :assignment_title, class: 'form-control' %>
            </div>

            <div class="form-group">
                <%= form.label :description %>
                <%= form.text_area :description, id: :assignment_description, class: 'form-control' %>
            </div>

            <div class="form-group">
                <%= form.label :due_date %>
                <%= form.text_field :due_date, id: :assignment_due_date, class: 'form-control' %>
            </div>

            <div class="form-group">
                <%= form.label :review_date %>
                <%= form.text_field :review_date, id: :assignment_review_date, class: 'form-control' %>
            </div>
        </div>
        <div class="col-md-6">
            <p>Type in the email of a student to add them to this assignment.</p>
            <input id="students" name="students" type="text" data-raw="<%= assignment.user_assignments.map { |sa| [sa.user.email, sa.group] }.to_json %>" />
            <p>Drag around the students to assign them to different groups.</p>
            <div id="groups">
                <% [0, 1, 2, 3].each do |id| %>
                <div class="group" data-id="<%= id %>">
                    <div class="mb-2">Group <%= id %></div>
                    <div class="group-items">
                    </div>
                </div>
                <% end %>
            </div>
            <button id="distribute" type="button" class="btn btn-sm btn-primary mt-1">Randomly Distribute Students</button>
            <input type="hidden" name="groups" />
        </div>
    </div>

    <div class="actions">
        <%= form.submit class: 'btn btn-primary' %>
    </div>
<% end %>
