<h1>Assignments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Due date</th>
      <th>Review date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.title %></td>
        <td><%= assignment.due_date %> (<%= timeago_tag assignment.due_date, force: true %>)</td>
        <td><%= assignment.review_date %> (<%= timeago_tag assignment.review_date, force: true %>)</td>
        <td>
            <%= link_to 'Show', assignment, class: 'btn btn-sm btn-success' %>
            <% if current_user.is_teacher? %>
                <%= link_to 'Edit', edit_assignment_path(assignment), class: 'btn btn-sm btn-primary' %>
                <%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.is_teacher? %>
    <%= link_to 'New Assignment', new_assignment_path, class: 'btn btn-success' %>
<% end %>
