<div class="box">
    <p>
      <strong>Title:</strong>
      <%= @assignment.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @assignment.description %>
    </p>

    <p>
      <strong>Due date:</strong>
      <%= @assignment.due_date %> (<%= timeago_tag @assignment.due_date, force: true %>)
    </p>

    <p>
      <strong>Review date:</strong>
      <%= @assignment.review_date %> (<%= timeago_tag @assignment.review_date, force: true %>)
    </p>

    <p>
      <b>Students:</b>
      <ul id="student-list" class="clearfix mb-3">
          <% if @assignment.user_assignments.order(:group).each do |student| %>
            <li><%= student.user.username %> <span class="group">(Group <%= student.group %>)</span></li>
          <% end.empty? %>
            <li class="empty">There are no students with this assignment.</li>
          <% end %>
      </ul>
    </p>

    <% if current_user.teacher? %>
        <%= link_to 'View Essays', assignment_essays_path(@assignment), class: 'btn btn-primary' %>
        <%= link_to 'Edit', edit_assignment_path(@assignment), class: 'btn btn-success' %>
        <%= link_to 'Back', assignments_path, class: 'btn btn-secondary' %>
    <% else %>
        <% if @assignment.user_assignments.find_by(user: current_user).submitted? %>
            <%= link_to 'View Your Essay', assignment_essay_path(@assignment, @assignment.user_assignments.find_by(user: current_user).essay), class: 'btn btn-primary' %>
        <% else %>
            <%= link_to 'Submit Essay', new_assignment_essay_path(@assignment), class: 'btn btn-success' %>
        <% end %>
        <% if @assignment.past_due? %>
            <%= link_to 'View All Essays', assignment_essays_path(@assignment), class: 'btn btn-secondary' %>
        <% end %>
    <% end %>
</div>
