<div class="box">
    <% if user_signed_in? %>
        <% if current_user.student? %>
            <h4>Your Assignments</h4>
            <ul>
                <% if current_user.assignments_to_turn_in.order(review_date: :desc, due_date: :desc).each do |v| %>
                    <li>
                        <%= link_to v.title, assignment_path(v) %>
                        <span class="subinfo">(due <%= timeago_tag v.due_date, force: true %>)</span>
                        <% if v.user_assignments.find_by(user: current_user).submitted? %>
                            <i>(submitted)</i>
                        <% end %>
                    </li>
                <% end.empty? %>
                    <li>
                        There are currently no assignments that you need to submit.
                    </li>
                <% end %>
            </ul>
            <h4>Your Reviews</h4>
            <ul>
                <% if current_user.assignments_to_review.order(review_date: :desc, due_date: :desc).each do |v| %>
                    <li>
                        <%= link_to v.title, assignment_path(v) %>
                        <span class="subinfo">(due <%= timeago_tag v.due_date, force: true %>)</span>
                        <% if v.user_assignments.find_by(user: current_user).reviewed? %>
                            <i>(reviewed)</i>
                        <% end %>
                    </li>
                <% end.empty? %>
                    <li>
                        There are currently no essays for you to review.
                    </li>
                <% end %>
            </ul>
        <% else %>
            <h4>Created Assignments</h4>
            <ul>
                <% if current_user.given_assignments.order(review_date: :desc, due_date: :desc).each do |v| %>
                    <li><%= link_to v.title, assignment_path(v) %> <span class="subinfo">(due <%= timeago_tag v.due_date, force: true %>)</span> (<%= v.essays.count %>/<%= v.students.count %>)</li>
                <% end.empty? %>
                    <li>You have not created any assignments yet!</li>
                <% end %>
            </ul>
            <%= link_to 'Create Assignment', new_assignment_path, class: 'btn btn-success btn-sm' %>
            <%= link_to 'View All Assignments', assignments_path, class: 'btn btn-primary btn-sm' %>
        <% end %>
    <% else %>
        <h2>Welcome to Writing Reviewer!</h2>
        <p>Writing Reviewer is a tool to help students and professors coordinate peer reviews and give feedback.</p>
        <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary' %>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-success' %>
    <% end %>
</div>
