<!DOCTYPE html>
<html>
  <head>
    <title>Writing Reviewer</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
          <a class="navbar-brand" href="/">Writing Reviewer</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <% if user_signed_in? %>
                    <li class="nav-item">
                        <%= link_to 'Home', root_path, class: 'nav-link' %>
                    </li>
                    <% if current_user.student? %>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= assignments_path %>">Feedback</a>
                        </li>
                    <% end %>
                    <li class="nav-item">
                        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
                    </li>
                  <% else %>
                    <li class="nav-item">
                      <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
                    </li>
                  <% end %>
              </ul>
              <ul class="navbar-nav ml-auto">
                  <% if user_signed_in? %>
                    <li class="nav-item">
                        <%= current_user.username %>
                        <span class="user-type"><%= current_user.status.humanize %></span>
                    </li>
                  <% end %>
              </ul>
          </div>
      </nav>
      <div class="alerts">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>

    <div id="content">
        <%= yield %>
    </div>
  </body>
</html>
