<%= form_with(url: assignment_essays_path, model: essay, local: true) do |form| %>
  <% if essay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(essay.errors.count, "error") %> prohibited this essay from being saved:</h2>

      <ul>
      <% essay.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :file_id %>
    <%= form.file_field :file, id: :file_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
