<h1>Essays</h1>
<h4><%= @assignment.title %> - <%= @assignment.description %></h4>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @essays.each do |essay| %>
      <tr>
        <td><%= essay.user_assignment.user.email %></td>
        <td>
            <%= link_to 'Show', assignment_essay_path(@assignment, essay), class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Destroy', assignment_essay_path(@assignment, essay), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Essay', new_assignment_essay_path, class: 'btn btn-success' %>
