<h1>Uploaded Essays</h1>
<h4><%= @assignment.title %> - <span class="subinfo"><%= @assignment.description %></span></h4>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if @essays.each do |essay| %>
      <tr>
        <td><%= essay.user_assignment.user.email %><% if essay.late? %> <span class="late">(Late)</span><% end %></td>
        <td>
            <% if current_user.teacher? || @assignment.past_due? || essay.user_assignment.user == current_user %>
              <%= link_to 'Show', assignment_essay_path(@assignment, essay), class: 'btn btn-primary btn-sm' %>
            <% end %>
            <% if current_user.teacher? %>
              <%= link_to 'Destroy', assignment_essay_path(@assignment, essay), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            <% end %>
        </td>
      </tr>
    <% end.empty? %>
      <tr><td colspan="2">No students have uploaded any essays yet.</td></tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.student? && !@assignment.past_review? %>
  <%= link_to 'New Essay', new_assignment_essay_path, class: 'btn btn-success' %>
<% end %>
<%= link_to 'View Assignment', assignment_path(@assignment), class: 'btn btn-secondary' %>
